$panel-background: #16161a;
$header-color: #fffffe;
$text-color: #94a1b2;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.map {
  height: 100vh;
}

.panel {
  position: absolute;
  padding: 1rem 2rem;
  background-color: $panel-background;
  border-radius: 10px;
  z-index: 999;
  color: $text-color;

  &.slider {
    bottom: 2rem;
    left: 10vw;
    width: 80vw;
  }

  &.main {
    left: 2rem;
    top: 2rem;
    width: 22rem;
  }

  &.selected-county {
    right: 2rem;
    top: 2rem;
  }
}

h1 {
  color: $header-color;
  font-size: 1.6rem;
}

h2 {
  color: $header-color;
  font-size: 1.4rem;
}

.MuiFormLabel-root {
  color: $text-color !important;
}

.radio-control {
  color: red;

  &.Mui-checked {
    color: green;
  }
}
