$panel-background: #16161a;
$header-color: #fffffe;
$text-color: #94a1b2;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-loader {
  background-color: $panel-background;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fffffe;
}

.map {
  height: 100vh;
}

.panel {
  position: absolute;
  padding: 1rem 2rem;
  background-color: $panel-background;
  border-radius: 10px;
  z-index: 999;
  color: $text-color;

  &.slider {
    bottom: 2rem;
    left: 10vw;
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &.main {
    left: 2rem;
    top: 2rem;
    width: 22rem;
  }

  &.selected-county {
    right: 2rem;
    top: 2rem;
    width: 18rem;
  }
}

.slider-date {
  margin-bottom: 1rem;
  font-size: 1.4rem;
}

h1 {
  color: $header-color;
  font-size: 1.6rem;
  line-height: 1em;
}

h2 {
  color: $header-color;
  font-size: 1.4rem;
  line-height: 1em;
}

.MuiFormLabel-root {
  color: $text-color !important;
}

.radio-control {
  color: red;

  &.Mui-checked {
    color: green;
  }
}

.selected-county {
  h2 {
    margin-top: 0.6rem;
    margin-bottom: 0.2rem;
  }

  h3 {
    margin-top: 0;
    margin-bottom: 1rem;
  }
}

.selected-county-stat {
  margin-bottom: 0.3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .label.b {
  }

  .value.b {
  }
}

// Spinner Css
